services:
  # backend:
  #   build: .
  #   container_name: backend
  #   ports:
  #     - "8080:8080"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #   networks:
  #     - backend
  #   restart: always

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command:
      [
        "redis-server",
        "--appendonly","yes",
        "--requirepass","${REDIS_PASSWORD}"
      ]
    env_file:
      - .env
    healthcheck:
      test: ["CMD","redis-cli","-a","${REDIS_PASSWORD}","ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    # networks:
    #   - backend

volumes:
  redis_data:

# networks:
#   backend:
#     driver: bridge
